
/*---Header---*/
header {
  padding: 20px;
  font-size: 30px;
  text-shadow: -.5px -.5px 8px grey;
  border: 5px solid white;
  text-align: center;
}

byline {
  color: rgb(255, 236, 223);
  font-family: tahoma;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 35px;
}

body {
  font-family: tahoma, sans-serif;
  color: #dfdfdf;
  background-color: #faf1e1;
  margin-bottom: 10px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/a8/de/2f/a8de2f999a20735cbf596f5d236beb82.jpg);
}

section {
  width: 960px;
  margin: auto;
  background-color: black;
}
/*---Navigation---*/
nav {
  float: right;
  width: 320px;
}

article {
  float: right;
  width: 590px;
  padding: 25px;
}

footer {
  clear: both;
  background-color: #383f43;
  padding: 25px;
}


h2 {
  font-size: 32px;
  color: rgb(200, 254, 255);
  margin-bottom: 0px
}

h3 {
  color: white;
  margin-bottom: 0px;
}

p{
  margin-bottom: 10px;
}

nav ul{
  list-style-type: none;
  margin-bottom: 60px;
}

nav ul li a{
  display: block;

  background-color: black;
  color: rgb(200, 254, 255);

  font-weight: bold;
  font-size: 20px;

  line-height: 60px;
  height: 60px;

  text-transform: lowercase;
  text-decoration: none;

  padding-left: 20px;
  border-bottom: 2px solid #ead6be;
}

nav ul li a:hover {
  background: #d06038;
}

header img{
  display: inline-block;
}

ul {
  list-style: none;
  font-family:arial;
}

a {
  color: gray;
  text-decoration: none;
}
