body{
  background-image: url('../images/cc-bg.jpg');
  background-size: cover;

}

.page{
  width: 1024px;
  width: 100%;
  max-width: 1024px;
}

header{
  width: 1024px;

}

header img{
  max-width: 20%;
  margin: 5%;

}

nav{
  margin-left: 35%;
  margin-top: -15%;
  margin-bottom: 10%;
}


nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 5%;
}


a{
  text-decoration: none;
  font-family: helvetica, sans-serif;
  font-size: 1.1em;
  color: #ffffff;
}

h1{
  font-family: helvetica, sans-serif;
  font-size: 4em;
  color: #ffffff;
  margin-top: 10%;
}

article{
  margin-left: 35%;
}

p{
  font-size: 1.12em;
  color: #ffffff;
  margin-top: 5%;
  width: 55%
}
