/*START CSS RESET*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: black;
  font-family: arial;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end CSS RESET*/

/*START STRUCTURAL STYLES*/
header {
  display: block;
  text-align: right;
}

body {
  font-family: Arial;
  color: white;
  background-color: black;
}

section {
  width: 960px;
  margin: auto;
  background-color: black;
}

/*END STRUCTURAL STYLES*/

/*START NAV STYLES*/
nav {
  float: left;
  width: 320px;
}

article {
  float: right;
  width: 590px;
  padding: 25px;
}

nav ul{
  list-style-type: none;
  margin-bottom: 60px;
}

nav ul li a{
  display: block;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  height: 60px;
  text-transform: lowercase;
  text-decoration: none;
  padding-left: 85px;
  border-bottom: black;
}

nav ul li a:hover {
  background: gray;
}

/*END NAV STYLES*/

/*START MAIN CONTENT STYLES*/
h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 16px;
  text-align: center;
}

p{
  margin-bottom: 5px;
}

/*END MAIN CONTENT STYLES*/

/*START FOOTER*/
footer {
  clear: both;
  background-color: black;
  padding: 25px;
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
/*END FOOTER*/
