ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: tahoma, serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-image: url(http://cdn.paper4pc.com/images/coffee-wallpaper-17.jpg);
}

header {
  text-align: center;
}

h6 {
  color: white;
  font-size: 12px;
  margin: auto;
  text-align: left;
  padding-left: 50px;
}
