ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: tahoma, serif;
  text-align: center;
  font-size: 20px;
  background-image: url(http://wallpaperlayer.com/img/2015/8/tumblr-beach-waves-backgrounds-7096-7377-hd-wallpapers.jpg);
}

header {
  text-align: center;
}

h6 {
  color: black;
  font-size: 12px;
  margin: auto;
  text-align:  center;
  padding-left: 50px;
}
